<!DOCTYPE html>
<html lang="en">

<head>
    <title>Q&amp;A</title>
    <meta charset="utf-8">
    <meta name="csrf-token" content="gwVPutGKtIQoU7E6Y67VP5VAKzp7F1Zdxnhq1Nb1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://localhost:8000/css/q&amp;a.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script defer src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script defer src="http://localhost:8000/js/admin.js"></script>

    <!-- Table -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

    <script src="http://localhost:8000/js/q&amp;a.js" defer></script>

    <meta name="google-site-verification" content="ZYfMaCLyVwA_xB6ozW2crasnN5LNYEyf5s2R2y0Oi-0" />




</head>

<body id="index" data-spy="scroll" data-target=".navbar" data-offset="50">

    <div id="modals" class='login'>

    </div>

    <input type="hidden" name="_token" id="token" value="gwVPutGKtIQoU7E6Y67VP5VAKzp7F1Zdxnhq1Nb1">

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="http://localhost:8000/">Cooperative Q & A</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="form-inline offset-lg-1 col-12 col-lg-5 col-xl-6">
                <input id="searchText" class="form-control search-control col-10" type="text" placeholder="Search">
                <button id="buttonSearch" class="btnsearch  col-2">
                    <i class="fas fa-search"></i>
                </button>
            </div>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/feed">FEED</a>
                </li>
                <li class="nav-item">
                    <a id="TopicsNavBar" class="nav-link" href="http://localhost:8000/#themes" onclick="goToTopic">TOPICS</a>
                </li>
                <li class="nav-item">
                    <a id="HelpNavBar" class="nav-link" href="http://localhost:8000/help">HELP</a>
                </li>

                <li class="nav-item">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">
                            <i class="far fa-bell text-danger"></i>
                            Pedro F
                            <img class="img-fluid nav-img-profile" src="http://localhost:8000/images/user.png" alt="profilePic"
                            />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="http://localhost:8000/followQuestion">Following</a>
                            <a class="dropdown-item" href="http://localhost:8000/user/franza">Your Profile</a>
                            <a class="dropdown-item" href="http://localhost:8000/notification">Notifications (12)</a>
                            <a class="dropdown-item" href="http://localhost:8000/admin/topics">Admin</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="http://localhost:8000/logout">Logout</a>
                            <form id="logout-form" action="http://localhost:8000/logout" method="POST" style="display: none;">
                                <input type="hidden" name="_token" value="gwVPutGKtIQoU7E6Y67VP5VAKzp7F1Zdxnhq1Nb1"/>
                            </form>
                        </div>
                    </li>
                </li>
            </ul>
        </div>
    </nav>

    <div class="fluid">
        <div id="band" class="container-fluid bg-1">
            <div class="row text-center sct-main">
                <div class="col-md-12 tittle-section">
                    <div class="col-md-12">
                        <div class="tittle">Questions & Answers</div>
                    </div>

                    <div class="col-md-11 col-lg-8 col-xl-6 mx-auto">
                        <div class="about">Our mission is to share and grow the world’s knowledge. A vast amount of the knowledge that would
                            be valuable to many people is currently only available to a few — either locked in people’s heads,
                            or only accessible to select groups. We want to connect the people who have knowledge to the
                            people who need it, to bring together people with different perspectives so they can understand
                            each other better, and to empower everyone to share their knowledge for the benefit of the rest
                            of the world.</div>
                    </div>
                    <div class="col-md-12 btn-arrow">
                        <a id="topics-btn" class="btn btn-circle js-scroll-trigger btn-arrow">
                            <div class="about">
                                <p>Our Topics</p>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <!-- Container (THEMES Section) -->
        <div id="themes" class="bg-2">
            <div class="container-fluid bg-2 col-md-10">
                <div class="btn-bg2">
                    <h3 class="text-center ">Q&A Topics</h3>
                    <p class="text-center">This is what people are talking about!
                        <br> Just take a moment and share knowladge!
                        <br>
                    </p>
                </div>

                <div class="row row justify-content-center btn-bg2">

                    <!--cartoes dos topicos -->
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div class="card mb-4">
                            <div class="card-image text-center" onclick="window.location.href='http://localhost:8000/topic/Sports'">
                                <img class="card-img-top" src="http://localhost:8000/images/1.jpg" alt="1.jpg">

                                <h5 class="card-title name-top text-dark font-weight-bold">Sports</h5>

                            </div>

                            <div class="card-body" onclick="actionFollow(1)">
                                <a href="" class="follow">
                                    <h5 class="text-center mx-auto">
                                        Follow
                                        <i class="text-right far fa-heart"></i>
                                    </h5>
                                </a>
                                <param value="1" id="idTopic">
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div class="card mb-4">
                            <div class="card-image text-center" onclick="window.location.href='http://localhost:8000/topic/Music'">
                                <img class="card-img-top" src="http://localhost:8000/images/2.jpeg" alt="2.jpeg">

                                <h5 class="card-title name-top text-dark font-weight-bold">Music</h5>

                            </div>

                            <div class="card-body" onclick="actionFollow(2)">
                                <a href="" class="follow">
                                    <h5 class="text-center mx-auto">
                                        Follow
                                        <i class="text-right far fa-heart"></i>
                                    </h5>
                                </a>
                                <param value="2" id="idTopic">
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div class="card mb-4">
                            <div class="card-image text-center" onclick="window.location.href='http://localhost:8000/topic/Fashion'">
                                <img class="card-img-top" src="http://localhost:8000/images/3.jpeg" alt="3.jpeg">

                                <h5 class="card-title name-top text-dark font-weight-bold">Fashion</h5>

                            </div>

                            <div class="card-body" onclick="actionFollow(3)">
                                <a href="" class="follow">
                                    <h5 class="text-center mx-auto">
                                        Follow
                                        <i class="text-right far fa-heart"></i>
                                    </h5>
                                </a>
                                <param value="3" id="idTopic">
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div class="card mb-4">
                            <div class="card-image text-center" onclick="window.location.href='http://localhost:8000/topic/IT'">
                                <img class="card-img-top" src="http://localhost:8000/images/4.jpg" alt="4.jpg">

                                <h5 class="card-title name-top text-dark font-weight-bold">IT</h5>

                            </div>

                            <div class="card-body" onclick="actionFollow(4)">
                                <a href="" class="unfollow">
                                    <h5 class="text-center mx-auto">
                                        Unfollow
                                        <i class="text-right fas fa-heart"></i>
                                    </h5>
                                </a>
                                <param value="4" id="idTopic">
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div class="card mb-4">
                            <div class="card-image text-center" onclick="window.location.href='http://localhost:8000/topic/Math&amp;Science'">
                                <img class="card-img-top" src="http://localhost:8000/images/5.jpg" alt="5.jpg">

                                <h5 class="card-title name-top text-dark font-weight-bold">Math&amp;Science</h5>

                            </div>

                            <div class="card-body" onclick="actionFollow(5)">
                                <a href="" class="follow">
                                    <h5 class="text-center mx-auto">
                                        Follow
                                        <i class="text-right far fa-heart"></i>
                                    </h5>
                                </a>
                                <param value="5" id="idTopic">
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div class="card mb-4">
                            <div class="card-image text-center" onclick="window.location.href='http://localhost:8000/topic/Food&amp;Nutricion'">
                                <img class="card-img-top" src="http://localhost:8000/images/6.jpg" alt="6.jpg">

                                <h5 class="card-title name-top text-dark font-weight-bold">Food&amp;Nutricion</h5>

                            </div>

                            <div class="card-body" onclick="actionFollow(6)">
                                <a href="" class="follow">
                                    <h5 class="text-center mx-auto">
                                        Follow
                                        <i class="text-right far fa-heart"></i>
                                    </h5>
                                </a>
                                <param value="6" id="idTopic">
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div class="card mb-4">
                            <div class="card-image text-center" onclick="window.location.href='http://localhost:8000/topic/History'">
                                <img class="card-img-top" src="http://localhost:8000/images/7.jpg" alt="7.jpg">

                                <h5 class="card-title name-top text-dark font-weight-bold">History</h5>

                            </div>

                            <div class="card-body" onclick="actionFollow(7)">
                                <a href="" class="follow">
                                    <h5 class="text-center mx-auto">
                                        Follow
                                        <i class="text-right far fa-heart"></i>
                                    </h5>
                                </a>
                                <param value="7" id="idTopic">
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div class="card mb-4">
                            <div class="card-image text-center" onclick="window.location.href='http://localhost:8000/topic/Random'">
                                <img class="card-img-top" src="http://localhost:8000/images/8.png" alt="8.png">

                                <h5 class="card-title name-top text-dark font-weight-bold">Random</h5>

                            </div>

                            <div class="card-body" onclick="actionFollow(8)">
                                <a href="" class="unfollow">
                                    <h5 class="text-center mx-auto">
                                        Unfollow
                                        <i class="text-right fas fa-heart"></i>
                                    </h5>
                                </a>
                                <param value="8" id="idTopic">
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>

    <footer class="footer text-center static-bottom">
        <p>Cooperative Q&A
            <a href="#" data-toggle="tooltip" title="Cooperative q&a">www.cooperativeq&a.com</a>
        </p>
    </footer>
</body>

</html>